.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  border-radius: 10px;
}

.country-card img {
  width: 100%;
  border-radius: 5px;
}

.country-card h2 {
  margin-top: 10px;
  color: #ffffff;
}





